@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none !important;

}
ul,ol {
  list-style: none;
}

header {
  max-width: 1564px;
  padding: 61px 0;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  h3 {
    font-size: 30px;
    font-weight: 600;
    span {
      color: blue;
    }
  }
  nav {
    display: flex;
    gap: 120px;
    ul {
      display: flex;
      gap: 80px;
      li {
        font-size: 22px;
        font-weight: 600;
        a {
          color: #000;
        }
      }
    }
  }
  .getStarted {
    background: none;
    border: none;
    color: #000;
    font-size: 22px;
    font-weight: 600;
  }
  .mobile_nav {
    display: none;
  }
}

footer {
  max-width: 1564px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 160px;
  margin: 0 auto;
  .footer_top {
    display: flex;
    align-items: center;
    gap: 50px;
    div {
      width: 664px;
      h3 {
        font-size: 62px;
        font-weight: 600;
      }
      p {
        font-size: 22px;
        font-weight: 400;
        margin-top: 40px;
      }
    }
    form {
      width: 850px;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 114px;
      div {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 40px;
        &:last-child {
          align-self: flex-start;
        }
      }
      input {
        width: 400px;
        padding: 19px 5px;
        color: #000;
        border: none;
        border-bottom: 1px solid #555;
        &::placeholder {
          font-style: italic;
          color: #555;
        }
      }
      button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 40px;
        width: 400px;
        text-align: start;
        background: blue;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        padding: 10px 30px;
        img {
          margin-left: auto;
          width: 50px;
        }
      }
    }
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    .logo{
      h2 {
        font-size: 40px;
        font-weight: 600;
        span {
          color: blue;
        }
      }
      p {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        img {
          width: 22px;
        }
      }
    }
    .list_link {
      display: flex;
      gap: 154px;
      ul {
        width: 264px;
        h3 {
          margin-bottom: 40px;
          font-size: 26px;
          font-weight: 600;
        }
        li {
          display: flex;
          align-items: center;
          margin-bottom: 32px;
          img {
            width: 32px;
          }
          a {
            color: #000;
            font-size: 22px;
            font-weight: 500;
          }
        }
      }
      .social_link {
        display: flex;
        flex-direction: column;
        gap: 40px;
        h3 {
          font-size: 26px;
          font-weight: 600;
        }
        div {
          display: flex;
          gap: 20px;
          img {
            width: 32px;
          }
        }
      }
    }
  }
}

.main_bg {
  background: url(./images/mainBG.png);
  height: 100vh;
  max-width: 1920px;
  width: 100%;
  position: absolute;
  background-size: cover;
  z-index: -1;
}
main {
  min-height: 100vh;
  max-width: 1564px;
  width: 100%;
  margin: 0 auto;
  padding: 10vh 0;
  overflow: hidden;
  .main_block {
    position: relative;
    .heading {
      width: 1284px;
      h1 {
        font-size: 100px;
        font-weight: 600;
        position: relative;
        span {
          position: absolute;
          top: 35%;
          right: 20%;
          background: #F0F0F0;
          border-radius: 50px;
          padding: 30px 95px;
          font-size: 36px;
        }
      }
      h2 {
        font-size: 100px;
        font-weight: 600;
        display: flex;
        button {
          display: flex;
          align-items: center;
          border: none;
          border-radius: 40px;
          width: 400px;
          text-align: start;
          background: blue;
          color: #fff;
          font-size: 30px;
          font-weight: 600;
          padding: 11px 10px;
          img {
            margin-left: auto;
            width: 84px;
          }
        }
      }
    }
    p {
      width: 1324px;
      font-size: 26px;
      font-weight: 500;
      margin-top: 50px;
    }
  }
  .why_us {
    margin-top: 160px;
    h2 {
      font-size: 42px;
      font-weight: 600;
    }
    .conditions {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      gap: 40px;
      .condition_card {
        width: 360px;
        background: #f0f0f0;
        padding: 30px 20px;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        &:first-child {
          background: blue;
          color: #fff;
        }
        &:last-child {
          background: #5699E8;
          color: #fff;
        }
        img {
          width: 60px;
        }
        div {
          display: flex;
          align-items: end;
          justify-content: space-between;
          p {
            font-size: 26px;
            font-weight: 700;
            width: 240px;
          }
          img {
            width: 40px;
          }
        }
      }
    }
  }
  .courses {
    margin-top: 160px;
    h2 {
      font-size: 42px;
      font-weight: 600;
    }
    .courses_list {
      display: flex;
      margin-top: 130px;
      justify-content: space-around;
      .card {
        width: 500px;
        background: #fff;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 50px;
        transition: all .3s ease-in-out;
        .heading {
          display: flex;
          align-items: center;
          h3 {
            font-size: 26px;
            font-weight: 600;
          }
          p {
            font-size: 24px;
            font-weight: 400;
            font-style: italic;
          }
        }
        .info {
          width: 95%;
          h3 {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 20px;
          }
          ul {
            width: 100%;
            li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              span {
                font-size: 16px;
                font-weight: 200;
                font-style: italic;
              }
              p {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 20px;
              }
            }
          }
        }
        .bonus {
          span {
            font-size: 16px;
            font-weight: 200;
            font-style: italic;
          }
          p {

          }
        }
        .price {
          display: flex;
          gap: 54px;
          h3 {
            font-size: 26px;
            font-weight: 700;
          }
          del {
            font-size: 28px;
            font-style: italic;
            color: #a9a9a9;
          }
        }
        button {
          display: flex;
          align-items: center;
          border: none;
          border-radius: 40px;
          width: 100%;
          text-align: start;
          background: blue;
          color: #fff;
          font-size: 30px;
          font-weight: 600;
          padding: 10px 10px 10px 30px;
          img {
            margin-left: auto;
            width: 50px;
          }
        }
        &:hover {
          position: relative;
          transform: translateY(-40px);
          box-shadow: 0px 2px 15px #0005;
        }
        &:not(:hover) {
          opacity: 0.6;
        }
      }
    }
  }
  .mentors {
    margin-top: 160px;
    width: 100%;
    display: flex;
    gap: 30px;
    // -webkit-column-count: 4 !important;
    // -moz-column-count: 4 !important;
    // column-count: 4 !important;
    // -webkit-column-width: 30%;
    // -moz-column-width: 30%;
    // column-width: 30%;
    // width: 100%;
    div {
    }
    .desc2 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      p {
        font-size: 24px;
        font-weight: 600;
      }
      button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 40px;
        width: 100%;
        text-align: start;
        background: #9980FC;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        padding: 10px 10px 10px 30px;
        img {
          margin-left: auto;
          width: 50px;
        }
      }
      display: none;
    }
    .heading{
      // width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: 76px;
        font-weight: 600;
      }
      .desc1 {
        // height: 100px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        p {
          font-size: 28px;
          font-weight: 600;
        }
        button {
          display: flex;
          align-items: center;
          border: none;
          border-radius: 40px;
          width: 100%;
          text-align: start;
          background: #9980FC;
          color: #fff;
          font-size: 30px;
          font-weight: 600;
          padding: 10px 10px 10px 30px;
          img {
            margin-left: auto;
            width: 50px;
          }
        }
      }
    }
    .mentors_list {
      display: flex;
      justify-content: space-between;
      gap: 40px;
    }
    .mentor {
      display: flex;
      flex-direction: column;
      gap: 30px;
      img {
        width: 340px;
        height: 494px;
      }
      div {
        width: 100%;
        height: 326px;
        padding: 30px 14px 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #000;
        border-radius: 30px;
        h3 {
          font-size: 64px;
          font-weight: 600;
        }
        p {
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }
  .What_saying {
    margin: 160px 0;
    width: 100%;
    padding: 70px;
    background: url(./images/papka.png);
    background-size: cover;
    display: flex;
    gap: 74px;
    .left {
      width: 442px;
      h2 {
        font-size: 78px;
        font-weight: 600; 
      }
      div {
        margin-top: 46px;
        padding: 40px 50px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        border-radius: 40px;
        background: #5699E8; 
        color: #fff;
        h3 {
          font-size: 78px;
          font-weight: 600; 
        }
        p {
          width: 100%;
          font-size: 22px;
          font-weight: 600; 
        }
      }
    }
    .right {
      margin-top: 186px;
      width: 100%;
      padding: 0 80px;
      .navigation_slider {
        display: flex;
        gap: 50px;
        justify-content: end;
        button {
          padding: 24px;
          border-radius: 50%;
          border: 1px solid blue;
          &:last-child {
            img {
              transform: rotate(180deg);
            }
          }
        }
      }
      .cards {
        position: relative;
        .card {
          z-index: 1;
          width: 450px;
          padding: 30px;
          border-radius: 40px;
          .reputation {
            display: flex;
            gap: 20px;
            align-items: center;
            div {
              display: flex;
              gap: 20px;
            }
          }
          .user {
            display: flex;
            gap: 15px;
            img {
              width: 70px;
            }
            h3 {
              font-size: 22px;
              font-weight: 600; 
              color: #000;
            }
            span {
              font-size: 18px;
              font-weight: 600;
              font-style: italic;
              color: #888; 
            }
          }
          &:nth-child(2) {
            position: absolute;
            top: 60px;
            right: 0;
            z-index: 0;
          }
        }
      }
    }
  }
  .careerIT {
    h2 {
      width: 670px;
      font-size: 42px;
      font-weight: 600;
    }
    .career_list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 60px;
    }
    .career_card {
      display: flex;
      align-items: center;
      background: url(./images/mainBG.png);
      background-size: contain;
      gap: 40px;
      border-radius: 40px;
      padding: 15px 50px;
      p {
        font-size: 24px;
        font-weight: 500;
        width: 862px;
        line-height: 185%;
      }
      img {
        // width: 491px;
      }
      // .career_card__right {
        // display: flex;
        .right_info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          div {
            display: flex;
            align-items: flex-end;
            gap: 30px;
            span {
              font-size: 38px;
              font-weight: 600;
            }
            p {
              color: #555;
              font-size: 18px;
              font-weight: 600;
              width: 100%;
            }
          }
          img {
            margin: 0 auto;
            margin-top: 70px;
            padding: 22px 26px;
            background: blue;
            border-radius: 50%;
            width: 80px;
          }
        }
      // }
      &:nth-child(even) {
        flex-direction: row-reverse;
        background: #f0f0f0;
      }
    }
  }
  
  .FAQ {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 160px 0;
    padding: 80px 0;
    background-color: rgba(227, 227, 227, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    h2 {

    }
    p {

    }
    #accordionExample {
      width: 1000px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin: 0 auto; 
      .accordion-item {
        border: none;
        background: none;
      }
      .accordion-header {
        width: 100%;
      }
      .accordion-button.collapsed {
        color: #000;
        padding: 25px 30px;
        border-radius: 30px;
      }
      .accordion-button:not(.collapsed) {
        background-color: #d9d9d9;
        color: #000;
        padding: 25px 30px;
        border-radius: 30px;
      }
      .accordion-collapse.collapsing {
        width: 910px;
        margin: 0 auto;
        background: #fff;
        // border: 1px solid #000;
        border-radius: 0px 0px 15px 15px;
        font-size: 18px;
        font-weight: 400;
        text-align: start;
      }
      .accordion-collapse.collapse.show {
        border: none;
        .accordion-body {
          width: 910px;
          margin: 0 auto;
          background: #fff;
          // border: 1px solid #000;
          border-radius: 0px 0px 15px 15px;
          font-size: 18px;
          font-weight: 400;
          text-align: start;
        }
      }
    }
  }
}
.FAQ_blur {
  position: relative;
  .FAQ_bg {
    background: url(./images/FAQ_bg.png);
    position: absolute;
    z-index: -1;
    bottom: 20vh;
    right: 10vh;
    margin: 0 auto;
    width: 1500px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1024px) {
  header {
    max-width: 964px;
    display: flex;
    align-items: center;
    nav {
      ul {
        display: none;
      }
    }
    .getStarted {
      display: none;
    }
    .mobile_nav {
      display: block;
      padding: 25px;
      background: none;
      border: none;
      .center {
        position: relative;
        width: 24px;
        height: 1px;
        border: 1px solid #000;
        &::before {
          content: "";
          top: -8px;
          right: -1px;
          width: 30px;
          height: 1px;
          border: 1px solid #000;
          position: absolute;
        }
        &::after {
          content: "";
          top: 8px;
          right: -1px;
          width: 30px;
          height: 1px;
          border: 1px solid #000;
          position: absolute;
        }
      }
      nav {
        position: absolute;
        top: 0;
        color: #000;
      }
    }
  }
  main {
    max-width: 964px;
    .main_block {
      .heading {
        width: 796px;
        h1 {
          font-size: 60px;
          font-weight: 600;
          span {
            position: absolute;
            top: 5%;
            right: 0%;
            background: #F0F0F0;
            border-radius: 50px;
            padding: 33px 80px;
            font-size: 36px;
          }
        }
        h2 {
          font-size: 60px;
          justify-content: space-between;
          align-items: center;
          button {
            border-radius: 50px;
            width: 332px;
            font-size: 24px;
            padding: 10px;
            img {
              width: 70px;
            }
          }
        }
      }
      p {
        width: 816px; 
        font-size: 20px;
      }
    }
    .why_us {
      h2 {
        font-size: 32px;
      }
      .conditions {
        gap: 20px;
        .condition_card {
          width: 226px;
          border-radius: 40px;
          img {
            width: 50px;
          }
          div {
            p {
              font-size: 22px;
              font-weight: 700;
              width: 150px;
            }
            img {
              width: 30px;
            }
          }
        }
      }
    }
    .courses {
      h2 {
        font-size: 32px;
        font-weight: 600;
      }
      .courses_list {
        display: flex;
        .card {
          width: 440px;
          padding: 20px;
          .heading {
            h3 {
              font-size: 22px;
            }
            p {
              font-size: 20px;
            }
          }
          .info {
            h3 {
              font-size: 22px;
            }
            ul {
              li {
                span {
                  font-size: 15px;
                }
                p {
                  font-size: 17px;
                }
              }
            }
          }
          .bonus {
            span {
              font-size: 15px;
            }
            p {
              font-size: 17px;
            }
          }
          .price {
            gap: 50px;
            h3 {
              font-size: 24px;
            }
            del {
              font-size: 22px;
              font-weight: 500;
            }
          }
          button {
            font-size: 26px;
            font-weight: 600;
            img {
              width: 46px;
            }
          }
          &:nth-child(2) {
            position: absolute;
            z-index: 3;
            opacity: 1;
          }
        }
      }
    }
    .mentors {
      display: flex;
      flex-direction: column;
      
      .heading{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          font-size: 76px;
          font-weight: 600;
        }
        .desc1 {
          display: none;
        }
      }
      .desc2 {
        display: flex;
        flex-direction: row;
        gap: 40px;
        p {
          width: 534px;
          font-size: 24px;
          font-weight: 600;
        }
        button {
          width: 400px;
          padding: 7px 10px 7px 30px;
          img {
            margin-left: auto;
            width: 50px;
          }
        }
      }
      .mentors_list {
        gap: 30px;
        .mentor {
          gap: 30px;
          img {
            width: 296px;
            height: 494px;
          }
          div {
            width: 100%;
            height: 326px;
            padding: 30px 14px 30px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid #000;
            border-radius: 30px;
            h3 {
              font-size: 54px;
              font-weight: 600;
            }
            p {
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
      }

    }
    .What_saying {
      width: 100%;
      padding: 40px;
      background: url(./images/papka.png);
      background-size: 100% 800px;
      background-repeat: no-repeat;
      display: flex;
      gap: 74px;
      .left {
        width: 334px;
        h2 {
          font-size: 64px;
        }
        div {
          gap: 30px;
          h3 {
            font-size: 68px; 
          }
          p {
            width: 100%;
            font-size: 22px;
          }
        }
      }
      .right {
        margin-top: 108px;
        width: 100%;
        padding: 0 40px;
        .navigation_slider {
          gap: 30px;
          button {
            padding: 14px;
            &:last-child {
              img {
                transform: rotate(180deg);
              }
            }
          }
        }
        .cards {
          position: relative;
          margin-top: 24px;
          .card {
            z-index: 1;
            right: 70px;
            width: 430px;
            padding: 20px;
            border-radius: 40px;
            .reputation {
              display: flex;
              gap: 20px;
              align-items: center;
              div {
                display: flex;
                align-items: center;
                gap: 20px;
              }
            }
            .user {
              gap: 27px;
              img {
                width: 60px;
              }
              h3 {
                font-size: 20px;
              }
              span {
                font-size: 16px;
              }
            }
            &:nth-child(2) {
              position: absolute;
              top: 75px;
              right: 0;
              z-index: 0;
            }
          }
        }
      }
    }
    .careerIT {
      h2 {
        width: 483px;
        font-size: 32px;
      }
      .career_list {
        gap: 20px;
        margin-top: 40px;
      }
      .career_card {
        gap: 40px;
        border-radius: 40px;
        padding: 15px 50px;
        p {
          font-size: 15px;
          font-weight: 500;
          width: 430px;
          line-height: 185%;
        }
        img {
          width: 250px;
        }
        // .career_card__right {
          // display: flex;
          .right_info {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div {
              width: 159px;
              display: flex;
              align-items: flex-end;
              gap: 30px;
              span {
                font-size: 34px;
                font-weight: 600;
              }
              p {
                color: #555;
                font-size: 16px;
                font-weight: 600;
                width: 100%;
              }
            }
            img {
              margin: 0 auto;
              margin-top: 70px;
              padding: 18px 21px;
              width: 74px;
            }
          }
        // }
        &:nth-child(even) {
          flex-direction: row-reverse;
          background: #f0f0f0;
        }
      }
    }
    .FAQ {
      position: relative;
      width: 100%;
      text-align: center;
      margin: 160px 0;
      padding: 80px 0;
      background-color: rgba(227, 227, 227, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 50px;
      h2 {
  
      }
      p {
  
      }
      #accordionExample {
        width: 860px;
        gap: 20px;
        .accordion-item {
          border: none;
          background: none;
        }
        .accordion-header {
          width: 100%;
        }
        .accordion-button.collapsed {
          color: #000;
          padding: 25px 30px;
          border-radius: 30px;
        }
        .accordion-button:not(.collapsed) {
          background-color: #d9d9d9;
          color: #000;
          padding: 30px;
          border-radius: 30px;
        }
        .accordion-collapse.collapsing {
          width: 770px;
          margin: 0 auto;
          background: #fff;
          // border: 1px solid #000;
          border-radius: 0px 0px 15px 15px;
          font-size: 18px;
          font-weight: 400;
          text-align: start;
        }
        .accordion-collapse.collapse.show {
          border: none;
          .accordion-body {
            width: 770px;
            margin: 0 auto;
            background: #fff;
            // border: 1px solid #000;
            border-radius: 0px 0px 15px 15px;
            font-size: 16px;
            font-weight: 400;
            text-align: start;
          }
        }
      }
    }
  }
  .FAQ_blur {
    position: relative;
    .FAQ_bg {
      background: url(./images/FAQ_bg.png);
      position: absolute;
      z-index: -1;
      bottom: 50vh;
      right: 10vh;
      margin: 0 auto;
      width: 1024px;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  footer {
    max-width: 964px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 auto;
    .footer_top {
      display: block;
      align-items: center;
      gap: 50px;
      div {
        width: 100%;
        h3 {
          font-size: 52px;
          font-weight: 600;
        }
        p {
          font-size: 20px;
          font-weight: 400;
          margin-top: 40px;
        }
      }
      form {
        width: 100%;
        div {
          width: 100%;
        }
        input {
          width: 50%;
        }
        button {
          width: 50%;
          img {
            margin-left: auto;
            width: 50px;
          }
        }
      }
    }
    .footer_bottom {
      display: block;
      .logo{
        margin-bottom: 40px;
        h2 {
          font-size: 40px;
          font-weight: 600;
          span {
            color: blue;
          }
        }
        p {
          margin-top: 20px;
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          img {
            width: 22px;
          }
        }
      }
      .list_link {
        width: 100%;
        display: flex;
        gap: 40px;
        justify-content: space-between;
        ul {
          // width: 300px;
          padding: 0;
          h3 {
            margin-bottom: 40px;
            width: 200px;
            font-size: 26px;
            font-weight: 600;
          }
          li {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
            img {
              width: 32px;
            }
            a {
              color: #000;
              font-size: 22px;
              font-weight: 500;
            }
          }
        }
        .social_link {
          display: flex;
          flex-direction: column;
          gap: 40px;
          h3 {
            font-size: 26px;
            font-weight: 600;
          }
          div {
            display: flex;
            gap: 20px;
            img {
              width: 32px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  header {
    padding: 20px 0;
    max-width: 350px;
    display: flex;
    align-items: center;
    nav {
      h3 {
        font-size: 16px;
      }
      ul {
        display: none;
      }
    }
    .getStarted {
      display: none;
    }
    .mobile_nav {
      display: block;
      padding: 25px;
      background: none;
      border: none;
      .center {
        position: relative;
        width: 24px;
        height: 1px;
        border: 1px solid #000;
        &::before {
          content: "";
          top: -8px;
          right: -1px;
          width: 30px;
          height: 1px;
          border: 1px solid #000;
          position: absolute;
        }
        &::after {
          content: "";
          top: 7px;
          right: -1px;
          width: 30px;
          height: 1px;
          border: 1px solid #000;
          position: absolute;
        }
      }
      nav {
        position: absolute;
        top: 0;
        color: #000;
      }
    }
  }
  main {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    .main_block {
      margin: 0 auto;
      margin-top: 46px;
      width: 350px;
      .heading {
        h1 {
          font-size: 26px;
          font-weight: 600;
          span {
            position: absolute;
            top: 20px;
            right: 40px;
            background: #F0F0F0;
            border-radius: 50px;
            padding: 10px 20px;
            font-size: 16px;
          }
        }
        h2 {
          font-size: 26px;
          justify-content: space-between;
          align-items: center;
          button {
            border-radius: 50px;
            width: 185px;
            font-size: 14px;
            padding: 10px;
            img {
              width: 26px;
            }
          }
        }
      }
      p {
        width: 350px; 
        font-size: 12px;
      }
    }
    .why_us {
      margin-top: 46px;
      h2 {
        font-size: 20px;
      }
      .conditions {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 167px);
        gap: 10px;
        .condition_card {
          width: 167px;
          border-radius: 30px;
          gap: 20px;
          img {
            width: 40px;
          }
          div {
            align-items: center;
            p {
              font-size: 15px;
              font-weight: 700;
              max-width: 150px;
              width: 100%;
              text-transform: uppercase;
            }
            img {
              width: 20px;
            }
          }
        }
      }
    }
    .courses {
      margin-top: 46px;
      h2 {
        font-size: 20px;
        font-weight: 600;
      }
      min-height: 100vh;
      .courses_list {
        .card {
          position: static;
          display: block;
          width: 340px;
          padding: 20px;
          .heading {
            display: flex;
            align-items: center;
            h3 {
              font-size: 16px;
              margin: 0;
            }
            p {
              margin: 0;
              font-size: 14px;
            }
          }
          img {
            width: 100%;
          }
          .info {
            h3 {
              font-size: 16px;
            }
            ul {
              padding: 0;
              width: 300px;
              li {
                span {
                  font-size: 12px;
                }
                p {
                  font-size: 14px;
                }
              }
            }
          }
          .bonus {
            span {
              font-size: 12px;
            }
            p {
              font-size: 14px;
            }
          }
          .price {
            gap: 50px;
            h3 {
              font-size: 18px;
            }
            del {
              font-size: 16px;
              font-weight: 500;
            }
          }
          button {
            font-size: 16px;
            font-weight: 600;
            img {
              width: 46px;
            }
          }
          &:nth-child(2) {
            margin-top: -60px;
            position: static;
            display: block;
          }
          &:nth-child(odd) {
            display: none;
          }
        }
      }
    }
    .mentors {
      margin-top: 46px;
      display: flex;
      flex-direction: column;
      
      .heading{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          font-size: 32px;
          font-weight: 600;
        }
        .desc1 {
          display: none;
        }
      }
      .desc2 {
        flex-direction: column;
        gap: 16px;
        p {
          width: 350px;
          font-size: 15px;
          font-weight: 600;
          text-align: end;
        }
        button {
          font-size: 16px;
          width: 350px;
          padding: 7px 10px 7px 30px;
          background: blue;
          img {
            margin-left: auto;
            width: 34px;
          }
        }
      }
      .mentors_list {
        gap: 30px;
        display: flex;
        flex-direction: column;
        .mentor {
          gap: 30px;
          img {
            width: 276px;
            height: 352px;
          }
          div {
            width: 276px;
            height: 150px;
            padding: 30px 14px 30px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid #000;
            border-radius: 30px;
            margin-left: auto;
            h3 {
              font-size: 22px;
              font-weight: 600;
            }
            p {
              font-size: 16px;
              font-weight: 600;
            }
          }
          &:nth-child(2) {
            display: flex;
            flex-direction: column-reverse;
          }
        }
      }

    }
    .What_saying {
      width: 100%;
      padding: 20px;
      background: url(./images/papka.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: block;
      gap: 74px;
      .left {
        width: 334px;
        h2 {
          font-size: 32px;
        }
        div {
          padding: 30px;
          width: 202px;
          gap: 20px;
          padding: 20px;
          h3 {
            font-size: 38px; 
          }
          p {
            width: 100%;
            font-size: 15px;
          }
        }
      }
      .right {
        margin-top: 0;
        width: 100%;
        padding: 0 20px;
        position: relative;
        .navigation_slider {
          gap: 10px;
          button {
            padding: 0px;
            &:last-child {
              img {
                transform: rotate(180deg);
              }
            }
          }
        }
        .cards {
          position: relative;
          margin-top: 24px;
          .card {
            margin: 0 auto;
            z-index: 1;
            right: 20px;
            width: 316px;
            padding: 20px;
            border-radius: 40px;
            .reputation {
              display: flex;
              gap: 20px;
              align-items: center;
              div {
                display: flex;
                align-items: center;
                gap: 20px;
              }
            }
            p {
              font-size: 14px;
            }
            .user {
              gap: 27px;
              img {
                width: 50px;
              }
              h3 {
                font-size: 16px;
              }
              span {
                font-size: 14px;
              }
            }
            &:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }
    .careerIT {
      h2 {
        width: 350px;
        font-size: 20px;
      }
      .career_list {
        gap: 20px;
        margin-top: 20px;
      }
      .career_card {
        width: 350px;
        gap: 40px;
        border-radius: 40px;
        padding: 22px;
        display: flex;
        flex-direction: column;
        p {
          font-size: 15px;
          font-weight: 500;
          width: 430px;
          line-height: 185%;
        }
        img {
          width: 250px;
        }
        p {
          width: 300px;
          font-size: 14px;
        }
        // .career_card__right {
          // display: flex;
          .right_info {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 0;
              gap: 30px;
              span {
                font-size: 25px;
                font-weight: 600;
              }
              p {
                color: #555;
                font-size: 16px;
                font-weight: 600;
                width: 100%;
              }
            }
            img {
              margin: 0 auto;
              margin-top: 70px;
              padding: 9px 11px;
              width: 50px;
            }
          }
        // }
        &:nth-child(even) {
          flex-direction: column;
          background: #f0f0f0;
        }
      }
    }
    .FAQ {
      position: relative;
      width: 100%;
      text-align: center;
      margin: 40px 0;
      padding: 0;
      background-color: rgba(227, 227, 227, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 50px;
      h2 {
  
      }
      p {
  
      }
      #accordionExample {
        width: 340px;
        gap: 20px;
        .accordion-item {
          border: none;
          background: none;
        }
        .accordion-header {
          width: 100%;
        }
        .accordion-button.collapsed {
          color: #000;
          padding: 25px 30px;
          border-radius: 30px;
        }
        .accordion-button:not(.collapsed) {
          background-color: #d9d9d9;
          color: #000;
          padding: 30px;
          font-size: 14px;
          border-radius: 30px;
        }
        .accordion-collapse.collapsing {
          width: 330px;
          margin: 0 auto;
          background: #fff;
          // border: 1px solid #000;
          border-radius: 0px 0px 15px 15px;
          font-size: 12px;
          font-weight: 400;
          text-align: start;
        }
        .accordion-collapse.collapse.show {
          border: none;
          .accordion-body {
            width: 330px;
            margin: 0 auto;
            background: #fff;
            // border: 1px solid #000;
            border-radius: 0px 0px 15px 15px;
            font-size: 12px;
            font-weight: 400;
            text-align: start;
          }
        }
      }
    }
  }
  footer {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 auto;
    .footer_top {
      display: block;
      align-items: center;
      gap: 50px;
      div {
        width: 100%;
        h3 {
          font-size: 22px;
          font-weight: 600;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          margin-top: 20px;
        }
      }
      form {
        display: block;
        width: 350px;
        margin: 0 auto;
        div {
          width: 100%;
          flex-direction: column;
          gap: 0;
        }
        input {
          width: 100%;
        }
        button {
          width: 100%;
          font-size: 16px;
          margin-top: 30px;
          img {
            margin-left: auto;
            width: 34px;
          }
        }
      }
    }
    .footer_bottom {
      display: block;
      .logo{
        margin-bottom: 40px;
        h2 {
          font-size: 20px;
          font-weight: 600;
          span {
            color: blue;
          }
        }
        p {
          margin-top: 12px;
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          img {
            width: 15px;
          }
        }
      }
      .list_link {
        width: 100%;
        display: block;
        gap: 40px;
        justify-content: space-between;
        ul {
          padding: 0;
          h3 {
            margin-top: 20px;
            margin-bottom: 10px;
            width: 200px;
            font-size: 18px;
            font-weight: 600;
          }
          li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-left: 10px;
            img {
              width: 24px;
            }
            a {
              color: #2f2f2f;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
        .social_link {
          width: 350px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          h3 {
            margin-top: 20px;
            width: 200px;
            font-size: 18px;
          }
          div {
            display: flex;
            gap: 10px;
            img {
              width: 24px;
            }
          }
        }
      }
    }
  }
}